@page "/"



<div class="container">
    <div class="card">
        <div class="tshirt">
            <div class="circle"></div>
            <img src="/img/tshirt.png" width="400" height="400" />
        </div>
        <div class="info">
            <h1 class="title">Blazor T-Shirt</h1>
            <h3>LA MEJOR PLAYERA PARA LOS AMANTES DE BLAZOR</h3>
            <div class="sizes">
                <button>Chica</button>
                <button>Mediana</button>
                <button class="active">Grande</button>
                <button>Extra Grande</button>
            </div>
            <div class="purchase">
                <button>Comprar</button>
            </div>
        </div>
    </div>
</div>
